
body {
    background-color: #323a59;
    font-family: 'Poppins';
    
}
body.open, body:after {
  overflow: hidden
}
.mobile-nav{
    display: none;
}
.b-nav, body:after {
  position: absolute;
  right: 0;
}
.b-brand, .b-link {
  font-size: 18px;
  font-weight: 700;
  margin-left: 0;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  ;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(345px, 0, 0);
    transform: translate3d(345px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(345px, 0, 0);
    transform: translate3d(345px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
* {
  box-sizing: border-box
}
body:after {
  background: #000;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 0;
  top: 0;
  visibility: hidden;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  width: 100%;
}
body.open:after {
  z-index: 10;
  opacity: 0.65;
  height: 100000%;
  visibility: visible
}
.b-nav {
  background: rgb(173, 173, 173) none repeat scroll 0 0;
  position: absolute;
  top: 0;
  width: 320px;
  z-index: 12;
}
.b-nav:not(.open) {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft
}
.b-nav {
  animation-duration: .4s;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft
}
.b-nav ul {
  padding-left: 0px;
}
.b-nav li {
  color: rgb(151, 151, 151);
  list-style-type: none;
  padding: 10px 10px 10px 0;
  text-align: left;
  -webkit-transform: translateX(345px);
  -ms-transform: translateX(345px);
  transform: translateX(345px)
}
.b-nav li:not(.open) {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft
}
.b-nav li:not(.open), .b-nav.open li {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both
}
.b-nav li:first-child {
  margin-top: 0px
}
.b-nav.open {
  visibility: visible;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
.b-nav:not(.open) {
  visibility: hidden;
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft
}
.b-nav.open li {
  padding-left: 30px;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft
}
.b-link {
  background: 0 0;
  border-left: rgba(255, 255, 255, 0)solid 2px;
  color: rgb(61, 61, 61);
  transition: all .4s ease;
  width: auto
}
.b-link, .b-menu {
  -webkit-transition: all .4s ease;
}
.b-nav li {
  border-left: 5px solid #949494;
}

/*.b-link--active,
.b-link:hover {
    border-left: #e00a12 solid 5px;
    padding-left: 30px
}*/

.b-menu {
  cursor: pointer;
  display: block;
  height: 66px;
  padding-top: 20px;
  position: relative;
  top: -20px;
  transition: all 0.4s ease 0s;
  width: 43px;
  z-index: 12;
  right: 10px;
}
.b-bun--bottom, .b-bun--mid, .b-bun--top {
  height: 2px;
  width: 25px
}
.b-container.open .b-main, .b-menu:hover {}
.b-bun {
  background: rgb(117, 117, 117);
  transition: all .4s ease
}
.b-brand, .b-bun {
  position: relative;
  -webkit-transition: all .4s ease
}
.b-bun--top {
  top: 0
}
.b-bun--mid {
  top: 8px
}
.b-bun--bottom {
  top: 16px
}
.b-brand {
  color: #2196f3;
  top: -21.43px;
  transition: all .4s ease;
  z-index: 13
}
.b-container {
  position: absolute;
  right: 0;
  top: 20px;
}
.b-container:hover:not(.open) .bun-bottom, .b-container:hover:not(.open) .bun-mid, .b-container:hover:not(.open) .bun-top {
  background: #2196f3
}
.b-container.open .b-bun--top {
  background: #707070;
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.b-container.open .b-bun--mid {
  opacity: 0
}
.b-container.open .b-bun--bottom {
  background: #888888;
  top: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.b-container.open .b-brand {
  color: rgb(124, 122, 122)
}






body {
    margin: 0;
    -webkit-perspective: 1000;
    background: url(https://f.cl.ly/items/3Q031Q1m1s1d3C0I023k/geometry2.png);
    font-family: Avenir Next, sans-serif;
  }


*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body{
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px 0 10px;
    
}
.nav-bar{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top:32px;
    margin-left:100px ;
}

.nav-list{
    display: flex;
}

.nav-el{
    list-style: none;
    margin-left: 64px;
}
.nav_el_link{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 6.33143px;
    color: #000000;
    padding-left: 7px;
}
.nav_el_link:hover{
    border-bottom: 2px black solid
}

.header_title{
    max-width: 600px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #999999;
}

.header_wrapper{
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-position: left 10vw top;
    position: relative;
}

.header_button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 8.29714px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding: 20px 20px 20px 20px;
    background-color: #FFE8E8;
    border:none;
    border-radius: 30px;
    margin-left: 35px;
    cursor:pointer;
    margin-bottom:40px;
    margin-top: 20px;
}

.header_button:hover{
    box-shadow:0 0 6px 6px #555; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header_photo{
    position: absolute;
    top:0px;
    right: 0px;
    max-width: 489px;
    box-shadow: 0 0 5px 5px rgb(104, 104, 104);
}

.skills_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: #999999;
}

.skills_content{
    display: flex;
    align-content: center;
    align-items:center;
    margin-bottom: 30px;
}

.skill_sub_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.642857px;
    color: #6D6D6D;
    margin-right: 50px;
}

.skills_content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.385714px;
    color: #6D6D6D;
}

.skills_content span{
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    background-color: #b4b3b3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.257143px;
    color: #666666;
    margin-left: 5px;
}

.skills_content span:hover{
    box-shadow:0 0 6px 6px #555; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.projects_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: #999999;
}
.projects_wrapper img{
    max-width: 650px;
    max-height: 600px;
    box-shadow: 0 0 5px 5px rgb(201, 168, 168);
}

.project_wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
}

.project_content{
    max-width: 500px;
}

.project_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: -0.257143px;
    color: #999999;
}

.project_content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.385714px;
    color: #6D6D6D;
}

.about_image{
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

.about_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: #999999;
}

.about_content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.385714px;
    color: #6D6D6D;
}

.pink_block{
    margin-top:-150px;
    margin-right: 100px;
    max-width: 300px;
    max-height: 270px;
    background-color: #FFE8E8;
    padding: 5px 20px 5px 20px;
    text-align: left;
}

.about_sub_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 6.33143px;
    color: #7E7C7C;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.sub_info{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.385714px;
    color: #2E2E2E;
}

.block_text{
    display: flex;
}

.footer{
    margin-top: 50px;
    background-color: #D8D8D8;
}

.footer_wrapper{
    text-align: center;
    padding: 50px 0 50px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.385714px;
    color: #6D6D6D;
    mix-blend-mode: normal;
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.icons{
    width: 100px;
}
.iconsss{
    width: 50px;
}
.inner_footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 2px black solid
}


@media screen and (max-width: 980px) {
   .container{
       max-width: 980px;
       padding: 0px 40px 0px 40px;
       overflow-x:hidden;
   }
   .header_photo{
        position: absolute;
        top:220px;
        right: 70px;
        max-width: 200px;
    } 
    .header_title{
        font-size: 60px;
    }  
    .sills_wrapper{
        text-align: center;
    }

    .skills h2{
       font-size: 50px;
    }
    .skills h3{
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
    }
    .skill_sub_title{
      width: 350px;
      margin-right: 20px
    }
    .skills_description{
      font-size: 40px;
    }
    .skills_content{
      display:block;
      text-align: center;
    }
    .projects_wrapper{
        text-align: center;
    }
    .project_wrapp{
        display: block;
        text-align: center;
        margin: 50px auto;
    }
    .projects h2{
    font-size: 50px;
    margin: 0 auto;
    }
    .projects h3{
      font-size: 30px;
      margin: 0 auto;
    }
    .project_content{
        text-align: center;
        margin: 0 auto;
    }
    .about_wrapper{
        text-align: center;
        margin: 0 auto;
    }
    .about h2{
        font-size: 50px;
        margin: 0 auto;
    }
    .pink_block{
        max-width: 300px;
        margin-right: -50px;
        margin-left: 0px;
    }
    .about_content{
        display: block;
        max-width: 400px;
        margin: auto;
    }
    .block_text{
        justify-content: space-between;
    }
    .mobile-nav{
        display: block;
    }

 }

 @media screen and (max-width: 768px) {
    .container{
        max-width: 768px;
        padding: 0px 20px 0px 20px;
        overflow-x:hidden;
    }
    .project_wrapp img{
        max-width: 470px;
    }
    .pink_block{
        max-width: 250px;
        margin-left: 50px;
        margin-right: 0px;
    }
    .footer_wrapper{
        padding: 10px;
    }
    .pink_block p {
        font-size: 15px;
    }
    .nav-list{
        display: none;
    }
    .header_photo{
       max-width: 300px;
       max-height: 250px;
       top:100px;
       right: 100px;
    } 
    .header_button{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 36px;
        letter-spacing: 4px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.6;
        padding: 20px 20px 20px 20px;
        background-color: #FFE8E8;
        border:none;
        border-radius: 30px;
        margin-left: 20px;
        cursor:pointer;
        margin-bottom:40px;
        margin-top: 20px;
    }
    .header_title{
        margin-top: -40px;
        font-size: 50px;
      
    } 
}


@media screen and (max-width: 550px) {
    .container{
        max-width: 480px;
        padding:0px 10px 0px 10px;
        overflow-x:hidden;
    }
    .project_wrapp img{
        max-width: 400px;
    }
    .pink_block{
        max-width: 250px;
        margin-left: 20px;
        margin-right: 0px;
    }
    .footer_wrapper{
        padding: 2px;
    }
    .pink_block p {
        font-size: 15px;
    }
    .nav-list{
        display: none;
    }
    .header_title{
        font-size: 35px;
    } 
    .header_button{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 36px;
        letter-spacing: 2px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.6;
        padding: 10px 10px 10px 10px;
        background-color: #FFE8E8;
        border:none;
        border-radius: 30px;
        margin-left: 20px;
        cursor:pointer;
        margin-bottom:40px;
        margin-top: 20px;
    }
    .header_photo{
        max-width: 300px;
        max-height: 220px;
        top:70px;
        right: 80px;
     } 
}

@media screen and (max-width: 420px) {
  .container{
    max-width: 410px;
    padding:0px 10px 0px 10px;
    overflow-x:hidden;
}
.project_wrapp img{
    max-width: 380px;
}
.pink_block{
    max-width: 250px;
    margin-left: 20px;
    margin-right: 0px;
}
.footer_wrapper{
    padding: 2px;
}
.pink_block p {
    font-size: 15px;
}
.nav-list{
    display: none;
}
.header_title{
    padding-top: 15px;
    font-size: 30px;
    line-height: 50px;
} 
.header_button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 36px;
    letter-spacing: 2px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding: 10px 10px 10px 10px;
    background-color: #FFE8E8;
    border:none;
    border-radius: 30px;
    margin-left: 20px;
    cursor:pointer;
    margin-bottom:100px;
    margin-top: 30px;
    margin-left:0px;
}
.header_photo{
    max-width: 300px;
    max-height: 220px;
    top:70px;
    right: 40px;
 }
}